html{
  font-family: helvetica, sans-serif;
}
h1, h2{
  color: darkgreen;
}
h3{
  color: seagreen;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: calc(100vh-300px);
}

header,
footer{
  padding: 20px;
  background: #gray;
  color: black;
}

body{
  display: flex;
  flex-grow: 1;
  background: navy;
}
